#footer
      .container
        p.text-muted.credit
          | All work performed by 
          a(href='mailto:valerie@violetweb.ca') Valerie Trotter - You should really hire me!.
    
script(src='/javascripts/jquery-1.10.1.min.js')
script(src='/javascripts/bootstrap.min.js')