extends layout

block content

  .container
    .jumbotron
      .container
        h1 A.M. Fredericks Application Gateway
        p
          | Our first application (PDF Selector) makes it easy to select the Risk Name &amp; Type, and be presented with a list of pdfs for email or download.
        p
          a.btn.btn-primary.btn-lg Get Started »